{
  Language: Cpp,
  BasedOnStyle: LLVM,
  UseTab: Never,
  IndentWidth: 4,
  TabWidth: 4,
  AlignEscapedNewlines: Left,
  AlignConsecutiveMacros: true,
  AlignConsecutiveAssignments: true,
  AlignConsecutiveDeclarations: true,
  BinPackParameters: false,
  AllowAllParametersOfDeclarationOnNextLine: true,
  AllowShortFunctionsOnASingleLine: Empty,
  ColumnLimit: 0,
  IndentCaseLabels: false,
  AccessModifierOffset: -4,
  NamespaceIndentation: All,
  FixNamespaceComments: false,
}
