{
  BasedOnStyle: LLVM,
  Language: Cpp,
  IndentWidth: 4,
  TabWidth: 4,
  ColumnLimit: 135,
  UseTab: Never,
  AccessModifierOffset: -4,
  AlignConsecutiveAssignments: true,
  AlignConsecutiveDeclarations: true,
  AlignConsecutiveMacros: true,
  AlignEscapedNewlines: Left,
  AllowAllParametersOfDeclarationOnNextLine: true,
  AllowShortFunctionsOnASingleLine: Empty,
  AllowShortIfStatementsOnASingleLine: WithoutElse,
  AllowShortCaseLabelsOnASingleLine: true,
  SpaceBeforeCpp11BracedList: true,
  BinPackParameters: true,
  BreakStringLiterals: false,
  FixNamespaceComments: false,
  IndentCaseLabels: true,
  IndentPPDirectives: AfterHash,
  MaxEmptyLinesToKeep: 2,
  NamespaceIndentation: All,
  PointerAlignment: Right,
  DerivePointerAlignment: false,
  BreakBeforeBraces: Attach,
}
