#
# flatpack2s2 TWAI GPIOs
#
CONFIG_TWAI_TX_GPIO=15
CONFIG_TWAI_RX_GPIO=16
CONFIG_TWAI_EN_GPIO=17
# end of flatpack2s2 TWAI GPIOs

#
# flatpack2s2 I2C GPIOs
#
CONFIG_I2C_OLED_SCL=5
CONFIG_I2C_OLED_SDA=4
CONFIG_I2C_QWIIC_SCL=1
CONFIG_I2C_QWIIC_SDA=2
# end of flatpack2s2 I2C GPIOs

#
# flatpack2s2 misc. GPIOs
#
CONFIG_FP2S2_SW_L_GPIO=35
CONFIG_FP2S2_SW_S_GPIO=36
CONFIG_FP2S2_SW_R_GPIO=37
CONFIG_FP2S2_RGB_GPIO=38
# end of flatpack2s2 misc. GPIOs