menu "flatpack2s2 Project Configuration"

    menu "System"
        config POSIX_TZ
            string "POSIX Time Zone String"
            default "AEST-10AEDT,M10.1.0,M4.1.0/3"
            help
                POSIX time zone string for system. I might implement a tz db later idk

    endmenu #System

    menu "TWAI"
        config TWAI_TX_GPIO
            int "TWAI TX GPIO"
            default 15
            help
                Selects GPIO used for TWAI (CAN) bus transmit. Connect to your CAN transceiver's TX pin.

        config TWAI_RX_GPIO
            int "TWAI RX GPIO"
            default 16
            help
                Selects GPIO used for TWAI (CAN) bus receive. Connect to your CAN transceiver's RX pin.

        config TWAI_EN_GPIO
            int "TWAI transceiver enable GPIO"
            default 17
            help
                Selects GPIO used for TWAI (CAN) bus transceiver enable. Connect to your CAN transciever.

        config TWAI_EN_ACTIVE_STATE
            int "TWAI_EN output state when transceiver is active"
            default 0
            range 0 1
            help
                0 = TWAI_EN will be driven low to enable the transceiver and high to disable.
                1 = TWAI_EN will be driven high to enable the transceiver and low to disable.
                Most transceivers are active-low (0).

    endmenu #TWAI

    menu "I2C"

        config I2C_QWIIC_SCL
            int "Qwiic Connector SCL GPIO"
            default 1
            help
                Selects GPIO used for Qwiic connector SCL line

        config I2C_QWIIC_SDA
            int "Qwiic Connector SDA GPIO"
            default 2
            help
                Selects GPIO used for Qwiic connector SDA line

    endmenu #I2C

    menu "flatpack2"

        config FP2_VOUT_MIN
            int "Flatpack2 PSU rated minimum voltage"
            default 4350
            help
                Enter your power supply's rated minimum voltage, in centiVolts (Volts * 100)

        config FP2_VOUT_MAX
            int "Flatpack2 PSU rated maximum voltage"
            default 5760
            help
                Enter your power supply's rated maximum voltage, in centiVolts (Volts * 100)

        config FP2_IOUT_MAX
            int "Flatpack2 PSU rated maximum current"
            default 4170
            help
                Enter your power supply's rated maximum current, in deciAmps (Amps * 100)

    endmenu #flatpack2

    menu "misc. GPIOs"

        config FP2S2_SW_L_GPIO
            int "Button 3 (SW_L) GPIO"
            default 35
            help
                Selects GPIO for SW3 (SW_L)

        config FP2S2_SW_S_GPIO
            int "Button 4 (SW_S) GPIO"
            default 36
            help
                Selects GPIO for SW4 (SW_S)

        config FP2S2_SW_R_GPIO
            int "Button 5 (SW_R) GPIO"
            default 37
            help
                Selects GPIO for SW5 (SW_R)

        config FP2S2_SW_B_GPIO
            int "Button 1 (SW_B/BOOT) GPIO"
            default 0
            help
                Selects GPIO for SW1 (SW_B/BOOT) which is used for BACK while running.
                NOTE: This does not affect hardware handling of GPIO0, but it does allow assigning a different GPIO
                to the BACK function in the app.

        config FP2S2_RGB_GPIO
            int "WS2812B RGB LED GPIO"
            default 38
            help
                Selects GPIO used for WS2812B RGB status LED

    endmenu #misc. GPIOs

endmenu # flatpack2s2

menu "Component config"
    menu "Wi-Fi Provisioning Manager"

        config FP2S2_RESET_PROVISIONED
            bool
            default n
            prompt "Reset provisioned status of the device"
            help
                This erases the NVS to reset provisioned status of the device on every reboot.
                Provisioned status is determined by the Wi-Fi STA configuration, saved on the NVS.

    endmenu # Wi-Fi Provisioning Manager
endmenu # Component config

menu "LWIP"
    menu "SNTP"

        config SNTP_SERVER
            string "SNTP Server address/hostname"
            default "pool.ntp.org"
            help
                Set default SNTP server used by library if one is not provided by DHCP

    endmenu # SNTP
endmenu # LWIP