menu "flatpack2s2 Project Configuration"

    menu "System"

        config SNTP_SERVER
            string "SNTP Server address/hostname"
            default "pool.ntp.org"
            help
                Set default SNTP server used by library if one is not provided by DHCP

        config POSIX_TZ
            string "POSIX Time Zone String"
            default "AEST-10AEDT,M10.1.0,M4.1.0/3"
            help
                POSIX time zone string for system. I might implement a tz db later idk

    endmenu #System

    menu "TWAI"

        config TWAI_TX_GPIO
            int "TWAI TX GPIO"
            default 15
            help
                Selects GPIO used for TWAI (CAN) bus transmit. Connect to your CAN transceiver's TX pin.

        config TWAI_RX_GPIO
            int "TWAI RX GPIO"
            default 16
            help
                Selects GPIO used for TWAI (CAN) bus receive. Connect to your CAN transceiver's RX pin.

        config TWAI_EN_GPIO
            int "TWAI transceiver enable GPIO"
            default 17
            help
                Selects GPIO used for TWAI (CAN) bus transceiver enable. Connect to your CAN transciever.

        config TWAI_EN_ACTIVE_LOW
            bool "TWAI_EN output state when transceiver is active"
            default y
            help
                Most transceiver enable pins are active-low - if yours is active-high, uncheck this box.

        config TWAI_USE_FP2_FILTER
            bool "Enable flatpack2 TWAI message filter"
            default n
            help
                When enabled, the TWAI driver will filter out TWAI/CAN messages whose IDs do not match 0x05xxxxxx.
                Enable if the PSU/controller are sharing the bus with other devices.

        config TWAI_EN_ACTIVE_STATE
            int
            default 0 if TWAI_EN_ACTIVE_LOW=y
            default 1 if TWAI_EN_ACTIVE_LOW=n

    endmenu #TWAI

    menu "I2C"

        config I2C_QWIIC_SCL
            int "Qwiic Connector SCL GPIO"
            default 1
            help
                Selects GPIO used for Qwiic connector SCL line

        config I2C_QWIIC_SDA
            int "Qwiic Connector SDA GPIO"
            default 2
            help
                Selects GPIO used for Qwiic connector SDA line

    endmenu #I2C

    menu "flatpack2"

        config FP2_VOUT_MIN
            int "Flatpack2 PSU rated minimum voltage"
            default 4350
            help
                Enter your power supply's rated minimum voltage, in centiVolts (Volts * 100).

        config FP2_VOUT_MAX
            int "Flatpack2 PSU rated maximum voltage"
            default 5760
            help
                Enter your power supply's rated maximum voltage, in centiVolts (Volts * 100).

        config FP2_VOUT_OVP
            int "Flatpack2 PSU over-voltage protection setpoint"
            default 5950
            help
                Level to set for PSU over-voltage protection, in centiVolts (Volts * 100).
                Typically 1.5-2V higher than rated maximum voltage.

        config FP2_IOUT_MAX
            int "Flatpack2 PSU rated maximum current"
            default 417
            help
                Enter your power supply's rated maximum current, in deciAmps (Amps * 10)

    endmenu #flatpack2

    menu "misc. GPIOs"

        config RGB_GPIO
            int "WS2812B RGB LED GPIO"
            default 38
            help
                Selects GPIO used for WS2812B RGB status LED

    endmenu #misc. GPIOs

endmenu # flatpack2s2
